main {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
}

#login-container {
    padding: 13.125rem 7.6875rem 12.5rem 7.6875rem;
}